/html/
/html56/
/projectFile
/data/mysql/chuwei
/data/mysql/fives
/data/mysql/jiaoyunyoupin
/data/mysql/oa
/data/mysql/qingzong
/data/mysql/repair
/data/mysql/xinying
/conf/conf.d/chuwei.conf
/conf/conf.d/jiaoyun.conf
/conf/conf.d/oa.conf
/conf/conf.d/qingzong.conf
/conf/conf.d/repair-php.conf
/conf/conf.d/s8.conf
/conf/conf.d/xinying.conf
/log/nginx
.idea