/html/chuwei
/html/repair-php
/html/s8
/html/xinying
/html/xinying_html
/html/zhuzhaibupin
/html56/oa
/projectFile
/data/mysql/fives
/data/mysql/oa
/data/mysql/repair
/data/mysql/xinying
/data/mysql/chuwei
/conf/conf.d/chuwei.conf
/conf/conf.d/oa.conf
/conf/conf.d/repair-php.conf
/conf/conf.d/s8.conf
/conf/conf.d/xinying.conf
/log/nginx/access.log
/log/nginx/error.log