#+--------------+
# Base
#+--------------+
SOURCE_SHARE_DIR=./html

#+--------------+
# Timezone
#+--------------+
TZ=Asia/Shanghai

#+--------------+
# Nginx
#+--------------+
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log/nginx
NGINX_SSL_DIR=./conf/letsencrypt

#+--------------+
# PHP7.3
#+--------------+
# Available EXTENSIONS
#+-------------------------------------------------------------+
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event,rar,ast,yac,yaconf,msgpack,igbinary,
# seaslog,varnish,xlswriter
#+----------------------------------------------------------+
PHP_VERSION=7.3.18
PHP_INI_FILE=./conf/php/php.ini
PHP_CONFD_INI_FILE=./conf/php/conf.d/php.ini
PHP_LOG_DIR=./log/php

#+--------------+
# MySQL
#+--------------+
MYSQL_DATA_DIR=./data/mysql
MYSQL_INIT_DIR=./conf/mysql/init
MYSQL_CONF_FILE=./conf/mysql/my.cnf

#+--------------+
# Redis
#+--------------+

#+--------------+
# PHP7.3
#+--------------+

#+-----------------
# redis 扩展
#+-----------------
PHPREDIS_VERSION=5.2.2

#+-----------------
# msgpack扩展
#+-----------------
MSGPACK_VERSION=2.1.0

#+-----------------
# memcached扩展
#+-----------------
MEMCACHED_VERSION=3.1.5

#+-----------------
# mongodb扩展
#+-----------------
MONGODB_VERSION=1.7.4

#+-----------------
# swoole安装 如果以后用到的话，不用再安装了，4.0之后性能更好
#+-----------------
SWOOLE_VERSION=4.5.10