# Base
RESOURCE = ./www

# Timezone
TZ = Asia/Shanghai

# Nginx
NGINX_CONFD = ./conf/nginx/conf.d
NGINX_CONF = ./conf/nginx/nginx.conf
NGINX_LOG = ./log/nginx
NGINX_SSL = ./conf/nginx/ssl

# php5.6
PHP56_D_INI = ./conf/php56/conf.d/php.ini
PHP56_RESOURCE = ./www/php56
PHP56_LOG = ./log/php56

# PHP7.3.18
# Available EXTENSIONS
#+-------------------------------------------------------------+
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event,rar,ast,yac,yaconf,msgpack,igbinary,
# seaslog,varnish,xhprof,xlswriter
#+----------------------------------------------------------+
PHP73_D_INI = ./conf/php73/conf.d/php.ini
PHP73_RESOURCE = ./www/php73
PHP73_LOG = ./log/php73

# php7.4
PHP74_D_INI = ./conf/php74/conf.d/php.ini
PHP74_RESOURCE = ./www/php74
PHP74_LOG = ./log/php74

# php8.0
PHP80_D_INI = ./conf/php80/conf.d/php.ini
PHP80_RESOURCE = ./www/php80
PHP80_LOG = ./log/php80

# MySQL
MYSQL_DATA_DIR = ./data/mysql
MYSQL_INIT_DIR = ./conf/mysql/init
MYSQL_CONF_FILE = ./conf/mysql/my.cnf

# Redis



